_site/
.build/
.cache/
.tox/
archive/
backup/
logs/
node_modules/
static/
tools/*/output/*
web/.svelte-kit/*

__pycache__/*
matplotlib/__pycache__/*
tools/__pycache__/*
tools/grid-heatmap/__pycache__/*

.DS_Store
.env

*.csv
*.db
*.db-shm
*.db-wal
*.log

app
app-*
mock_serial_port*
coverage*
