_site/
.build/
.cache/
.gocache/
.gomodcache/
.tox/
archive/
backup/
logs/
node_modules/
static/
tools/*/output/*
web/.svelte-kit/*
internal/db/schema.sql.bak

# Python virtual environments
.venv/
venv/

__pycache__/*
matplotlib/__pycache__/*
tools/__pycache__/*
tools/grid-heatmap/__pycache__/*

.DS_Store
.env

*.csv
*.db
*.db-shm
*.db-wal
*.log
sensor_data.*

app
app-*
velocity-report-*
mock_serial_port*
coverage*
velocity-deploy*
