<footer class="bg-gray-800 dark:bg-gray-950 text-white mt-auto">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
        <p class="text-center text-xs mt-2">
            velocity.report &copy; 2026 Banshee, Inc.<br>Documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/" class="underline hover:text-gray-300">CC BY 4.0</a>
        </p>
    </div>
</footer>
