---
pagination:
  data: folderPages
  size: 1
  alias: folder
permalink: "{{ folder.url }}index.html"
eleventyComputed:
  title: "{{ folder.title }}"
---

# {{ folder.title }}

Browse the documents in this folder.

<ul>
{% for child in folder.children %}
  <li><a href="{{ child.url | docsRelativeUrl(page.url) }}" data-docs-internal>{{ child.title }}</a></li>
{% endfor %}
</ul>
